{% extends "base_panel.html" %}

{% block title %}Admin{% endblock %}

{% block header %}Panel administrativo{% endblock %}
{% block subheader %}Gestión completa del sistema{% endblock %}

{% block content %}

<div class="cards-grid">

    <a href="{{ url_for('admin.listar_ventas') }}" class="module-card">
        <h3>Ventas</h3>
    </a>

    <a href="{{ url_for('admin.listar_inventario') }}" class="module-card">
        <h3>Inventario</h3>
    </a>

    <a href="{{ url_for('admin.listar_proveedores') }}" class="module-card">
        <h3>Proveedores</h3>
    </a>

    <a href="{{ url_for('admin.listar_compras') }}" class="module-card">
        <h3>Compras</h3>
    </a>

    <a href="{{ url_for('admin.listar_empleados') }}" class="module-card">
        <h3>Empleados</h3>
    </a>

</div>

{% endblock %}